.about-me-head {
    font-family: inherit;
    font-weight: 400;
    font-size: 32px;

    margin-bottom: 30px;
}

.location {
    font-family: inherit;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;

    margin-bottom: 10px;
}

.about-me-text {
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;

    margin-bottom: 10px;
}