body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    background-color: #D9C5B2;
}

.list, p {
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.link {
    text-decoration: none;
}

.button {
    border-width: 0;
}

h1, h2 {
    margin: 0;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}